{% extends "nav.html" %}
{% block body %}
<style>
    body>b {
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    }

    .movielink {
        padding: 10px;
        font-size: 30px;
        border: 1px solid #FFDC00;
        border-radius: 15px;
        color: lightpink;
        text-decoration: none;
    }

    .nonefound {
        font-size: 24px;
        color: #FFDC00;
    }
</style>

<b><u>Search results:</u></b>
<section>
    {% for result in results %}
    <br><a class="movielink" href="{{ url_for('catalogue') }}?id={{ result[4] }}">{{ result[1] }}</a><br>
    {% endfor %}
    {% if nomatches %}
    <span class="nonefound">No results found.</span>
    {% endif %}
</section>

{% endblock %}