{% extends "nav.html" %}
{% block body %}
<style>
    #moviediv {
        display: flex;
        /* justify-content: space-between; */
        justify-content: space-evenly;
    }

    #moviename {
        color: #FFDC00;
        font-size: 40px;
        text-decoration-color: white;
    }

    .infoname {
        font-size: 18px;
        color: #FFDC00;
        text-decoration-color: #FFDC00;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
    }

    .info {
        font-size: 18px;
        color: lightpink;
        font-family: 'Roboto Slab', serif;
    }

    #reviews {
        color: white;
    }

    #reviewtextbox {
        font-size: 16px;
        padding: 1px;
        background: lightpink;
        border: none;
        border-radius: 3px;
        padding-left: 2px;
        padding-right: 2px;
        color: #0074D9;
        font-family: monospace;
    }

    #submitreview {
        color: white;
        background: none;
        border-radius: 0px;
        border-style: dashed;
        font-family: 'Roboto Slab', serif;
    }

    #submitreview:hover {
        border-style: dotted;
    }

    .review {
        padding: 10px;
        font-size: 30px;
        border: 1px solid #FFDC00;
        border-radius: 15px;
        color: lightpink;
        text-decoration: none;
    }
</style>

<br>
<div id="moviediv">
    <div id="movieinfodiv">
        <section>
            <b><u id="moviename">{{ movieinfo[1] }}</u></b><br>
            <span class="infoname">imdb id:</span> <span class="info">{{ movieinfo[4] }}</span><br>
            <span class="infoname">year of release:</span> <span class="info">{{ movieinfo[2] }}</span><br>
            <span class="infoname">runtime:</span> <span class="info">{{ movieinfo[3] }}</span><br>
            <span class="infoname">imdb rating:</span> <span class="info">{{ movieinfo[5] }}</span><br>
        </section>

        <section>
            <b><span class="infoname">OMDB Info:</span></b><br>
            <span class="infoname">Plot: </span> <span class="info">{{ omdbinfo[0] }}</span><br>
            <span class="infoname">Genre: </span> <span class="info">{{ omdbinfo[1] }}</span><br>
            <span class="infoname">Director: </span> <span class="info">{{ omdbinfo[2] }}</span><br>
            <span class="infoname">Actors: </span> <span class="info">{{ omdbinfo[3] }}</span><br>
            <span class="infoname">Poster: </span><br> <img src="{{ omdbinfo[4] }}"><br>
        </section>
    </div>

    <div id="moviereviewdiv">
        <section id="reviews">
            {% if loggedin %}
            {% if reviewed %}
            You have already written a review for this movie. <br>
            {% else %}

            <form action="{{ url_for('submitreview') }}?id={{ movieinfo[4] }}" method="post">
                Your review: <input type="text" id="reviewtextbox" name="review" required><br>
                <input type="range" min="0" max="100" value="0" id="reviewrange" required>
                <div id="reviewrangevaluevisible"></div>
                <input type="text" name="reviewrangevalue" id="reviewrangevalue" value="0.0" hidden><br>
                <button id="submitreview">Submit review</button>
            </form>
            {% endif %}
            {% else %}
            You are not logged in. <a href="{{ url_for('login') }}" style="color: white;">Log in</a> to write a review.<br>
            {% endif %}
            <b>User reviews:</b><br>
            {% for review in reviews %}
            <span class="infoname"><b>{{ review[2] }}</b> said:<br></span>
            <span class="info">{{ review[3] }}</span> <br>
            <span class="infoname"><b>Score:</b></span> <span class="info">{{ review[4] }}</span> <br>
            <br>
            {% endfor %}
        </section>
    </div>
</div>

<script>
    let slider = document.getElementById("reviewrange")
    let slidervaluevisible = document.getElementById("reviewrangevaluevisible")
    let slidervalue = document.getElementById("reviewrangevalue")
    slidervaluevisible.innerHTML = "0.0"
    slidervalue.value = "0.0"
    slider.oninput = () => {
        slidervaluevisible.innerHTML = slider.value / 10.0
        slidervalue.value = slider.value / 10.0
    }
</script>
{% endblock %}